<header>

  <div id="div_logo">
    <a href="/">
      <img id="logo" src="/img/simka.png" alt="img">
      {{!-- <img id="logo" src="/favicon.bmp" alt="logo" > --}}
    </a>
  </div>

  <div id="title">
    ИЗДЕЛИЕ XZ-404 
  </div>
 
  {{!-- <a id="logs" href="/user/login">Вход</a> --}}

  <div class="login_buttons">
    <a id="login" class="button" href="/user/login">Вход</a> 
    <a id="logout" class="button" href="/user/logout">Выход</a> 
  </div>

  {{!-- <button id="buter_button" onclick="show_menu2()"> --}}
  <button id="buter_button" onclick="show_modal_menu()">
    <span class="buter_span"></span>
    <span class="buter_span"></span>
    <span class="buter_span"></span>
  </button>

</header>
 



<script>

{{!-- let x = 1;
function test2() {
  if (x == 1) {
            document.getElementById('login').classList.add('hidden');
            document.getElementById('logout').classList.remove('hidden');
  } else {
            document.getElementById('login').classList.remove('hidden');
            document.getElementById('logout').classList.add('hidden');
  }
  x = 1 - x;
}   --}}

// Переключение светлой/тёмной темы
function switch_theme() {

  let theme = localStorage.getItem('dark_or_light_theme');
  
  if (theme == "dark") {
    document.body.classList.remove("dark_theme");
    localStorage.setItem('dark_or_light_theme', "light");
  } else {
    document.body.classList.add("dark_theme");
    localStorage.setItem('dark_or_light_theme', "dark");
  }
};

// Выбор светлой или тёмной темы в соответсвии с настройками
function check_theme() {

  let theme = localStorage.getItem('dark_or_light_theme');

  // Если тема ещё не была выбрана
  if (!theme) {
    // Проверяем и устанавливаем системную тему
    if(window.matchMedia("(prefers-color-scheme: dark)").matches) {
      theme = "dark";
    } else {
      theme = "light";
    }
    localStorage.setItem('dark_or_light_theme', theme);
  }

  if (theme == "dark") {
    document.body.classList.add("dark_theme");
  } else {
    document.body.classList.remove("dark_theme");
  }
};

//
// Показать меню
//
//function show_menu() {
//  {{!-- document.getElementById('menu_top').classList.toggle('flex'); --}}
//  document.getElementById('menu_top').classList.toggle('vert');
//}
 
//
// Получить данные пользователя и т.д.
//
async function check_logged_in() {
    myFetch2('/user/get_user')
    .then((x) => {
        if (x) {
            let user = JSON.parse(x);
            document.getElementById('login').classList.add('hidden');
            document.getElementById('logout').classList.remove('hidden');
        } else {
            document.getElementById('login').classList.remove('hidden');
            document.getElementById('logout').classList.add('hidden');
            //show_info('x');
            //show_error('Привет, гость!');
        }
        //alert(x); // {"id":4,"login":"cborka","fullname":"","email":"1@1.ru","phone":"","notes":""} // или ничего
    })
    .catch(show_error);
}

check_logged_in();
check_theme();

</script>
