<header>

  <div id="div_logo">
    <a href="/">
      <img id="logo" src="/img/simka.png" alt="img" >
      {{!-- <img id="logo" src="/favicon.bmp" alt="logo" > --}}
    </a>
  </div>


  <div id="title">
    ИЗДЕЛИЕ XZ-321 
  </div>
 

  <button id="buter_button">
    <span class="buter_span"></span>
    <span class="buter_span"></span>
    <span class="buter_span"></span>
  </button>


</header>
