<header>

  <div id="div_logo">
    <a href="/">
      <img id="logo" src="/img/simka.png" alt="img" >
      {{!-- <img id="logo" src="/favicon.bmp" alt="logo" > --}}
    </a>
  </div>

  <div id="title">
    ИЗДЕЛИЕ XZ-321 
  </div>
 
  <div id="login">
    <a href="/user/login">Вход</a> 
    {{!-- <a href="/user/login"><div class="menu_point2">Вход</div></a>  --}}
    {{!-- <div class="menu_point2">Вход</div>  --}}
  </div>

  <button id="buter_button" onclick="show_menu()">
    <span class="buter_span"></span>
    <span class="buter_span"></span>
    <span class="buter_span"></span>
  </button>

</header>

<script>
  function show_menu() {
    document.getElementById('menu_top').classList.toggle('flex');
  }
</script>
