<header>

  <div id="div_logo">
    <a href="/">
      <img id="logo" src="/img/simka.png" alt="img">
      {{!-- <img id="logo" src="/favicon.bmp" alt="logo" > --}}
    </a>
  </div>

  <div id="title">
    ИЗДЕЛИЕ XZ-444 
  </div>
 
  <div id="login" class="">
    <a href="/user/login">Вход</a> 
  </div>

  <div id="logout">
    <a href="/user/logout">Выход</a> 
  </div>

  {{!-- <button id="buter_button" onclick="show_menu2()"> --}}
  <button id="buter_button" onclick="show_modal_menu()">
    <span class="buter_span"></span>
    <span class="buter_span"></span>
    <span class="buter_span"></span>
  </button>

</header>

<script>


function show_menu() {
  {{!-- document.getElementById('menu_top').classList.toggle('flex'); --}}
  document.getElementById('menu_top').classList.toggle('vert');
}
 
// Проверка, свободно ли имя (логин)
async function is_logged_in() {
    myFetch2('/user/get_user')
    .then((x) => {
        if (x) {
            let user = JSON.parse(x);
            document.getElementById('login').classList.add('hidden');
            document.getElementById('logout').classList.remove('hidden');
        } else {
            document.getElementById('login').classList.remove('hidden');
            document.getElementById('logout').classList.add('hidden');
            //show_info('x');
            //show_error('Привет, гость!');
        }
    })
    .catch(show_error);
}

is_logged_in();

</script>
