{{!-- На узком экране вместо меню будет показана бутер-кнопка, которая будет показывать меню в вертикальном МОДАЛЬНОМ окне --}}

<nav class="menu_top" id="menu_top"" onclick="hide_modal_menu()">

  {{!-- <div class="menu_point"> &nbsp; </div> Вертикальная черта слева (padding-right) --}}

  <a href="/"><div class="menu_point">&nbsp;</div></a> {{!-- Вертикальная черта слева --}}
  <a href="/"><div class="menu_point">Home</div></a>
  <a class="menu_point" href="/ip">ip</a>
  <a class="menu_point" href="/ip2">ip2</a>
  <a class="menu_point" href="/hbs">hbs</a>
  <a class="menu_point" href="/testhbs">testhbs</a>
 
  <a class="menu_point" href="/verstka.html"> Верстка </a>
  {{!-- <a class="menu_point" href="/bulma"> bulma </a> --}}
  {{!-- <a class="menu_point" href="/sendFile"> sendFile </a> --}}
  <a class="menu_point" href="/applocals"> applocals </a>
  {{!-- <a class="menu_point" href="/db"> db_test </a> --}}

  {{!-- <a class="menu_point" href="/back" title="Не работает..."> /back </a> --}}
  
  <a class="menu_point" href="/session_info"> session_info </a>
  <a class="menu_point" href="/modal"> modal </a>

  <a class="menu_point" href="/vuetest.html"> vuetest.html </a> 
  <a class="menu_point" href="/404"> 404 </a>
  {{!-- <a class="menu_point" href="/promises"> promises </a>  --}}
  <a class="menu_point" href=""> ESC </a>
  <a class="menu_point" href="/user/list"> Пользователи </a> 

  {{!-- <button class="menu_point" onclick="test2()"> test2 </button> --}}

  <button class="menu_point" onclick="switch_theme()" title="Переключение - светлая или тёмная тема"> Тема </button>
  
</nav>
{{!-- <div class="menu_point" onclick="show_modal_menu()"> show_modal_menu </div> --}}


<div class="mymodal-overlay closed" id="menu-modal-overlay" onclick="hide_modal_menu()">
</div>



<script>

let menuModal = document.getElementById('menu_top');
let menuModalOverlay = document.getElementById('menu-modal-overlay');

// Закрытие выпадающего главного меню по кнопке Esc
let hide_menu2 = function(e) {
  if ((e.code == 'Escape') && modal.classList.contains('vert')) {
    //alert(e.code);
    hide_modal_menu();
  }
}  

document.getElementById('menu_top').onkeyup = hide_menu2;
document.getElementById('buter_button').onkeyup = hide_menu2;

//
// Показать выпадающее главное меню
//
function show_modal_menu() {
  //let menuParent = document.getElementById('container');

  menuModal.classList.add('vert')
  menuModal.classList.add('mymodal_menu');

  menuModalOverlay.classList.remove('closed');

  menuModalOverlay.classList.remove('closed');
}

//
// Спрятать выпадающее главное меню
//
function hide_modal_menu() {
  menuModal.classList.remove('vert')
  menuModal.classList.remove('mymodal_menu')
  menuModal.classList.add('closed');
  
  menuModalOverlay.classList.add('closed');
}

</script>
