<nav class="menu_top" id="menu_top">
  <a href="/"><div class="menu_point">Home</div></a>
  <a href="/ip"><div class="menu_point">ip</div></a>
  <a href="/ip2"><div class="menu_point">ip2</div></a>
  <a href="/hbs"><div class="menu_point">hbs</div></a>
  <a href="/hbs2"><div class="menu_point">hbs2</div></a>
  <a href="/sendFile"><div class="menu_point">sendFile</div></a>
  <a href="/applocals"><div class="menu_point">applocals</div></a>
  <a href="/db"><div class="menu_point">db_test</div></a>
  <a href="/session_info"><div class="menu_point">session_info</div></a>
  <a href="/modal"><div class="menu_point">modal</div></a>
  <a href="/vuetest.html"><div class="menu_point">vuetest.html</div></a>
  <a href="/404"><div class="menu_point">404</div></a> 
  <a href="" class="menu_point"><div class="menu_point">ESC</div></a>
  {{!-- <div class="menu_point" onclick="me()">press me</a>  </div> --}}
  
</nav>


<script>
  function me() {
    alert('menu');
  }
</script>
