<nav class="menu_top" id="menu_top">

  <div class="menu_point"> &nbsp; </div> {{!-- Вертикальная черта слева (padding-right) --}}
  <a href="/"><div class="menu_point">Home</div></a>
  <a href="/ip"><div class="menu_point">ip</div></a>
  <a href="/ip2"><div class="menu_point">ip2</div></a>
  <a href="/hbs"><div class="menu_point">hbs</div></a>
  <a href="/testhbs"><div class="menu_point">testhbs</div></a>
  <a href="/bulma"><div class="menu_point">bulma</div></a>
  <a href="/sendFile"><div class="menu_point">sendFile</div></a>
  <a href="/applocals"><div class="menu_point">applocals</div></a>
  <a href="/db"><div class="menu_point">db_test</div></a>
  <a href="/session_info"><div class="menu_point">session_info</div></a>
  <a href="/modal"><div class="menu_point">modal</div></a>
  <a href="/vuetest.html"><div class="menu_point">vuetest.html</div></a>
  <a href="/404"><div class="menu_point">404</div></a> 
  <a href="/promises"><div class="menu_point">promises</div></a> 
  <a href=""><div class="menu_point">ESC</div></a>

  <div class="menu_point" onclick="me2()"> press me </div>
  
</nav>
{{!-- <div class="menu_point" onclick="show_modal_menu()"> show_modal_menu </div> --}}

<div class="mymodal-overlay closed" id="mymodal-overlay" onclick="hide_modal_menu()">
</div>





<script>

let modal = document.getElementById("menu_top");
let modalOverlay = document.getElementById("mymodal-overlay");

  function show_modal_menu() {
    let menuParent = document.getElementById("container");

//    document.getElementById("mymodal-window").classList.toggle("closed");
    modal.classList.add('vert')
    modal.classList.add('mymodal_menu');
//    let coords = menuParent.getBoundingClientRect();
    //alert(coords.top + 'px');
    {{!-- modal.style.top = coords.top + 4 + 'px';
    modal.style.left = coords.left + 4+ 'px';
    modal.style.width = coords.width - 24 + 'px';
    modal.style.height = coords.height - 16 + 'px'; --}}
    {{!-- modal.clientTop = menuParent.clientTop; --}}
    modal.classList.remove("closed");

   modal.onclick=hide_modal_menu;
   //modal.onkeyup=hide_modal_menu;
   
    modalOverlay.classList.remove("closed");
  }
  function hide_modal_menu() {
//    document.getElementById("mymodal-window").classList.toggle("closed");
    modal.classList.remove('vert')
    modal.classList.remove('mymodal_menu')
    modal.classList.add("closed");
   
    modalOverlay.classList.add("closed");
  }

  function me2() {
    alert('menu');
    document.getElementById("sidebar_left").innerHTML = 'djjdjdjdjd';
  }

//me();

function show_menu2() {
  {{!-- document.getElementById('menu_top').classList.toggle('flex'); --}}
  document.getElementById('menu_top').classList.toggle('vert');
}

</script>
