<div id="menu_top" ondblclick="">
  <nav>
    {{!-- <a href="/">Главная</a> |
    <a href="/users/login">Вход</a> |
    <a href="/users/reg">Регистрация |</a> --}}


    <a href="/">Home |</a>  
    <a href="/ip">ip |</a>  
    <a href="/ip2">ip2 |</a>  
    <a href="/hbs">hbs |</a>  
    <a href="/hbs2">hbs2 |</a>  
    <a href="/sendFile">sendFile |</a>  
    <a href="/applocals">applocals |</a>  
    <a href="/db">db_test |</a>  
    <a href="/session_start">session_start |</a>  
    <a href="/session_info">session_info |</a>  
    <a href="/modal">modal |</a>  
     <a href="/vuetest.html">vuetest.html |</a>
    <a href="/404">404 |</a>  

  </nav>
</div>


<script>
 
</script>
