<div class="main_menu" id="main_menu">
    <nav>
        <a href="/">Главная</a> |
        <a href="/users/login">Вход</a> |
        <a href="/users/reg">Регистрация</a> xxx
    </nav>
</div>

<div id="user_menu"></div>



<script>


</script>
