<aside id="sidebar_left">
  Left sidebar
  {{> user/login}}

  <br>
  <button onclick="me()">do</button>
</aside>

<script>

  

  function me() {
//    document.getElementById('menu_top').classList.toggle('vert');
  }
</script>