<h2>{{title}}</h2>
<p>Welcome to {{title}}</p>

    <div id="app">
      message {{ message }}
    </div>
    
<script> 
  //localStorage.setItem('test', 1); 
  //alert( JSON.stringify(localStorage) );
  //alert( JSON.stringify(sessionStorage) );
</script>
