<h2 class="violet">{{title}}</h2>

{{!-- <p class="marine">Welcome to {{title}}</p> --}}

<div class="message">  {{{ message }}}  </div>

<script> 
  //localStorage.setItem('test', 1); 
  //alert( JSON.stringify(localStorage) );
  //alert( JSON.stringify(sessionStorage) );
</script>
