<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/favicon.bmp" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body >
    <div id="maxwrapper">
      <div id="space_left">{{> space_left}}</div>
      <div id="wrapper">
        {{> header}}
        {{> menu_top}}  

        <div id="container">
            {{> sidebar_left}}

            <div id="content"> {{{body}}} </div> 

            {{!-- {{> sidebar_right}}   --}}
        </div>

        {{> footer}}
      </div>

      <div id="space_right">{{> space_right}}</div>

    </div>
    {{!-- <script src="/js/vue_app.js"></script> --}}
  </body>
</html>
