:root {
  --g0-color: #ffffff; 
  --g01-color: #f1f1f1; 
  --g1-color: #e1e1e1;
  --g11-color: #d1d1d1;
  --g2-color: #c2c2c2;
  --g21-color: #b7b7b7;
  --g3-color: #959595;
  --g31-color: #898989;
  --g4-color: #7d7d7d;
  --g41-color: #707070;
  --g5-color: #626262;
  --g51-color: #555555;
  --g6-color: #464646;
  --g61-color: #363636;
  --g7-color: #262626;
  --g8-color: #000000;

  --v1-color: blueviolet;
  --v2-color: indigo;

  --border-color: #a8fff8fd;
  --border-color: white;
  --border-color: none;
}

body {
  padding: 0px;
  margin: 0px;
  
  color: var(--g61-color);
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* ================================ Макет ================================ */

#maxwrapper {
  display:flex;
  width: 100%;
  min-height: 99vh;
  margin: 0px auto;
}

/* =================================== */

#space_left {
  /* width: 19%; */
  flex-grow: 1;
  margin-right: 4px;
  border: 1px solid var(--border-color);
}

#space_right {
  /* width: 2px; */
  flex-grow: 1;
  margin-left: 4px;
  border: 1px solid var(--border-color);
}

#wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1200px;
  margin: 4px auto;
  margin-bottom: 0;
  margin-top: 0;
  border-left: 1px solid var(--g1-color);
  border-right: 1px solid var(--g1-color);
}

/* =================================== */

header, .menu_top, #container, footer {
  margin: 0;
  /* margin-bottom: 4px; */
  border-bottom: 1px solid var(--g1-color);
}

header, .menu_top, #content, footer, #sidebar_right, #sidebar_left {
  padding: 8px;
  /* border: 1px solid var(--border-color); */
}

/* header {
  background-color: ivory;
} */

footer {
  margin-bottom: 0;
  text-align: center;
}

/* =================================== */

#container {
  display:flex; /* Содержит флекс элементы*/
  flex-grow: 1; /* Занимает всё доступное пространство */

  /* flex-direction: row; по умолчанию */
  /* flex-direction: column; */
}

/* #sidebar_right, #sidebar_left, #content {
  display: inline-block;
} */

#sidebar_left {
  width: 25%;
  margin: 4px;
  margin-left: 0px;
  /* border-right: 1px solid var(--g1-color); */
  background-color: var(--g01-color);
}

#sidebar_right {
  width: 19%;
  margin-left: 4px;
  background-color: var(--g1-color);
}

#content {
  /* width: 80%; */
  min-width: 600px;
  flex-grow: 1;
  text-align: center;
}

/* ================================ header ================================ */
header {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#div_logo {
  margin: 4px;
  padding: 0;
}  

#logo {
  height: 48px;
  display: block;
  margin: 0;
  padding: 0;
}

header div {
  margin: 0;
  padding: 0;
  border: 1px solid var(--border-color);
}
#title {
  flex-grow: 1;
  text-align: center;
  font-family: "Segoe Script", Helvetica, Arial, sans-serif;
  font-size: larger;
  font-weight: bolder;
  color: blueviolet;
}


/* .float-right {
  margin: 0;
  padding: 0;
  border: 1px solid green;
} */
button {
  cursor: pointer;
}

#buter_button {
  /* display: inline-block; */
  display: none;
  padding: 0 auto;
  margin: 0 4px;
  font-size: smaller;
  font-weight: bold;
  line-height: 0.6;
  border: 0;
  background-color: #ffffff;
}

#buter_button:hover {
  background-color: var(--g01-color);
}

.buter_span  {
  display: block;
  padding: 0;
  margin: 6px 4px;
  border-bottom: 2px solid indigo;
  width: 20px;
}

/* ================================================================ */

.wrapper_1 {
  margin: 10px auto;
}

.w700 {
  /* расположение по центру */
  position: absolute;
  left: 50%;
  /* width / 2 */
  margin-left: -350px; 

  width: 700px;
}



a {
  /* color: indigo; */
  color: var(--g7-color);
  text-decoration: none;
}

a:hover, a:visited:hover {
  /* color: magenta; */
  color: var(--g6-color);
  background-color: var(--g0-color);
}

a:visited {
  color: var(--g5-color);
  /* color: darkviolet; */
}

/* ================================ Меню ================================ */


.menu_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--g01-color);
  /* border: 1px solid var(--border-color); */
}

.menu_point {
  margin: 0 4px;
}

/* .menu_top_col {
  display: flex;
  flex-direction: column; 
} */
/* .menu_point_col {
  border-bottom: 0px solid var(--g1-color);
  flex-basis: 100%;
} */
/* ================================ footer ================================ */

footer {
  color: var(--g1-color);
  background-color: var(--g5-color);
}



/* ================================ Модальное окно ================================ */
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  max-width: 96%;
  height: 600px;
  max-height: 96%;

  overflow: auto;

  z-index: 1010;

  /* border-width: 1px;
  border-color: chartreuse; */
  border-radius:7px;
  /* border-style: double; */

   /*Тень описывается смещениями по оси X и Y относительно элемента, 
   радиусом размытия и распространения, а также цветом.*/
  /* box-shadow: inset; */
  /* box-shadow: 1px 1px 13px red; */
  box-shadow: 3px  3px 3px 3px grey;
 
  background-color:white;

  padding-left: 30px;
  margin-right: 30px;

}

.mymodal-overlay {

  /* рекомендация:
     не зацикливайтесь на числе "1000", вместо этого используйте свою документированную систему для z-index и не забывайте следовать ей. Это число должно быть достаточно высоким в вашей системе.
  */
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: floralwhite;  */
  background-color: rgba(0, 0, 0, 0.1);

}

.closed {
  display: none;
}
/* Кнопка закрытия модального окна */
.close_modal {
  display: block;
  position: absolute;
  position: fixed;
  right: 3px;
  top: 3px;
  border-radius:10px;
  /* width: 30px;
  height: 30px; */
 }

 /* ===================== Оттенки серого ==================== */

 /* .g0H { color: #ffffff; }
 .g1G { color: #f1f1f1; }
 .g2F { color: #e1e1e1; }

 .g3E { color: #d1d1d1; }
 .g4D { color: #c2c2c2; }
 .g5C { color: #b7b7b7; }
 
 .g6B { color: #acacac; }
 .g7A { color: #a0a0a0; }
 .g89 { color: #959595; }

 .g98 { color: #898989; }
 .gA7 { color: #7d7d7d; }
 .gB6 { color: #707070; }

 .gC5 { color: #626262; }
 .gD4 { color: #555555; }
 .gE3 { color: #464646; }
 
 .gF2 { color: #363636; }
 .gG1 { color: #262626; }
 .gH0 { color: #000000; }

 .g0 { color: #ffffff; }
 .g1 { color: #e1e1e1; }
 .g2 { color: #c2c2c2; }
 .g3 { color: #acacac; }
 .g4 { color: #959595; }
 .g5 { color: #7d7d7d; }
 .g6 { color: #626262; }
 .g7 { color: #464646; }
 .g8 { color: #262626; }
 .g9 { color: #000000; }
 */

/* ============= Адаптивной или отзывчивая (responsive) вёрстка ============= */

@media (max-width: 1407px) {

  footer {
    border: 1px solid red;
  }

  #space_left, #space_right {
    display: none;
  }

}

@media (max-width: 1215px) {

  footer {
    border: 1px solid blue;
  }
  /* .menu_top {
    flex-direction: row;
    display: flex;
  } */
}

@media (max-width: 1023px) {

  footer {
    border: 1px solid green;
  }

  #buter_button {
    display: inline-block;
  }

  .menu_top {
    flex-direction: column;
    display: none;
  }
  .menu_point {
    border-bottom: 1px solid var(--g1-color);
    /* flex-basis: 100%; */
  }

}

@media (max-width: 768px) {

  footer {
    border: 1px solid magenta;
  }

  /* Размещаю сайдбары сверху и снизу */
  #container {
    /* flex-direction: row; */
    flex-direction: column;
  }
  #sidebar_left {
    width: auto;
    margin-right: 0;
    margin-bottom: 4px;
  }
  
  #sidebar_right {
    width: auto;
    margin-left: 0x;
  }
  
  #content {
    width: auto;
    min-width: auto;
    /* flex-grow: 1; */
    /* min-height: 500px; */
    /* height: 700px; */
    text-align: center;
  }

}

/* ============================================ */

#user_login {
  display: flex;
  flex-direction: column;

  background-color: var(--g0-color);
}


/* ============================================ */

.flex {
  display: flex; 
}

.vert {
  flex-direction: column;
}