body {
  padding: 50px;




  font-size: large;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.wrapper_1 {
  background-color:azure;
}

.w700 {
  /* расположение по центру */
  position: absolute;
  left: 50%;
  /* width / 2 */
  margin-left: -350px; 

  width: 700px;

  
  background-color:antiquewhite;
}

