<div id="xuser_login" >

<h1>Вход </h1>
{{!-- <form name="xuserlogin" action="/user/userLogin" method="POST" class="form { --}}
<form name="xuserlogin" action="/user/isLoginFree" method="POST" class="form {
">
    <table class="чcenter">
        <tr>
            <td>Логин</td>
            <td><input id="login" type="text" name="login" placeholder="login" value="" maxlength="31"></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input id="password" type="password" name="password" placeholder="***" value=""></td>
        </tr>
        <tr>
            <td>num</td>
            <td><input id="mum" type="number" name="num" placeholder="1" value="2"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button name="button_submit" type="submit">Вход</button>
                <a href="/user/register">Регистрация</a> 
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="red" id="hint" ></div>
            </td>
        </tr>
    </table>
</form>

</div> 

