<div class="form_background">
<br>
<br>
<br>
<form name="userlogin" action="/user/login" method="POST" class="form">
<fieldset>
    <legend>&nbsp; Вход &nbsp;</legend>
    <br>
    <div>
        <label>Логин</label>
        <input id="login" type="text" name="login" placeholder="login" value="" maxlength="31" >
    </div>
    <div>
        <label>Пароль</label>
        <input id="password" type="password" name="password" placeholder="***" value="">
    </div>
    <div>
        <label>Проверка</label>
        <input id="mum" type="number" name="num" placeholder="1" value="2">
    </div>
    <div>
        <label></label>
        <input type="button" id="enter" formtarget="_self" value="Вход" onclick="check_login()">
        <input type="submit" id="reg" value="Регистрация" formaction="/user/register/" form="hrefForm">
        {{!-- <a href="/user/register" type="button">Регистрация</a>  --}}
        {{!-- <input type="button" value="Назад" onclick="back()"> --}}
    </div>
    <div>
        <span class="info" id="info"></span>&nbsp;
        <span class="error" id="error"></span>
    </div>
</fieldset>
</form>
</div>

{{!-- Пустая форма для имитации ссылки как кнопки --}}
<form id="hrefForm" method="GET"></form>

{{!-- Можно и так имитировать --}}
{{!-- <button onclick="window.location.href='/user/register';">На вертолёт!</button> --}}

<script>


// Проверка входных данных
async function check_login() {
    myFetch2('/user/login', {login: userlogin.login.value.trim(), password: userlogin.password.value })
    .then((x) => {
        if (x == 1) {
            show_error('');
            show_info(x);
            window.location.href = '/';
        } else {
            show_info('');
            show_error('Неверные имя или пароль.');
        }


        //show_info(x);
    })
//    .catch((x) => {});
    .catch(show_error);
}



</script>
