<div class="form_background">
<br>
<br>
<br>
<form name="userreg" action="/user/login" method="POST" class="form">
<fieldset>
    <legend>&nbsp; Вход &nbsp;</legend>
    <br>
    <div>
        <label>Логин</label>
        <input id="login" type="text" name="login" placeholder="login" value="" maxlength="31" >
    </div>
    <div>
        <label>Пароль</label>
        <input id="password" type="password" name="password" placeholder="***" value="">
    </div>
    <div>
        <label>Проверка</label>
        <input id="mum" type="number" name="num" placeholder="1" value="2">
    </div>
    <div>
        <label></label>
        <input type="submit" id="enter" formtarget="_self" value="Вход">
        <input type="submit" id="reg" value="Регистрация" formaction="/user/register/" form="hrefForm">
        {{!-- <a href="/user/register" type="button">Регистрация</a>  --}}
    </div>
    <div>
        <span class="hint" id="hint">hint</span>&nbsp;
        <span class="error" id="error">error</span>
    </div>
</fieldset>
</form>
</div>

<form id="hrefForm" method="GET"></form>

{{!-- <button onclick="window.location.href='/user/register';">На вертолёт!</button> --}}


