Здесь сообещения бота

<div class="form_background">
<br>
<br>
<br>
<form name="botmessages" action="/bot/messages" method="POST" class="form">
<fieldset>
    <legend>&nbsp; Сообщение &nbsp;</legend>
    <br>
    <div>
        <label>Открыть</label>
        <input id="message_id2" type="number" name="id2" value="{{id}}" readonly >
        ...<input type="button" value="Прочитать" onclick="read_message()">
    </div>
    <div>
        <label>id</label>
        <input id="message_id" type="number" name="id" value="{{id}}" readonly >
    </div>
    <div>
        <label>Сообщение</label>
        <textarea class="" name="message" rows="10"> </textarea>
        {{!-- <input id="message" type="text" name="message" placeholder="message" value="" maxlength="63" > --}}
    </div>
    <div>
        <label></label>
        <input type="submit" id="submit" value="Записать" >

        {{!-- <input type="button" id="enter" formtarget="_self" value="Вход" onclick="check_login()">
        <input type="submit" id="reg" value="Регистрация" formaction="/user/register/" form="hrefForm"> --}}
        
        {{!-- <a href="/user/register" type="button">Регистрация</a>  --}}
        {{!-- <input type="button" value="Назад" onclick="back()"> --}}
    </div>
    <div>
        <span class="info" id="info"></span>&nbsp;
        <span class="error" id="error"></span>
    </div>
</fieldset>
</form>
</div>

{{!-- Пустая форма для имитации ссылки как кнопки --}}
<form id="hrefForm" method="GET"></form>

{{!-- Можно и так имитировать --}}
{{!-- <button onclick="window.location.href='/user/register';">На вертолёт!</button> --}}

<script>


// Проверка входных данных
async function read_message() {
    myFetch2('/bot/read_message', {id: botmessages.id.value.trim()})
    .then((x) => {
        if (x == 1) {
            show_error('');
            show_info(x);
            window.location.href = '/bot/messages';
        } else {
            show_info('');
            show_error('Ошибка: ' + x);
        }


        //show_info(x);
    })
//    .catch((x) => {});
    .catch(show_error);
}



</script>
