Здесь сообещения бота

<div class="form_background">
<br>
<br>
<br>
{{!-- <form name="botmessages" action="/bot/messages" method="POST" class="form" onsubmit="write_message(); return false"> --}}
<form name="botmessages" method="POST" class="form">
<fieldset>
    <legend>&nbsp; Сообщение &nbsp;</legend>
    <br>
    <div>
        <label>Открыть</label>
        <input id="message_id2" type="number" name="message_id2" value="{{id}}" > 
        <input type="button" value="Прочитать" onclick="read_message()">

    </div>
    <div>
        <label>id</label>
        <input id="message_id" type="number" name="message_id" value="{{id}}" readonly >
    </div>
    <div>
        <label>Сообщение</label>
        <textarea class="" name="message" rows="10"> </textarea>
        {{!-- <input id="message" type="text" name="message" placeholder="message" value="" maxlength="63" > --}}
    </div>
    <div>
        <label></label>
        <input type="button" id="submit" value="Записать" onclick="write_message()" >
        {{!-- <input type="submit" id="submit" value="Записать" > --}}
        <input type="button" id="create" value="Создать новое сообещение" onclick="create_message()" >

        {{!-- <input type="button" id="enter" formtarget="_self" value="Вход" onclick="check_login()">
        <input type="submit" id="reg" value="Регистрация" formaction="/user/register/" form="hrefForm"> --}}
        
        {{!-- <a href="/user/register" type="button">Регистрация</a>  --}}
        {{!-- <input type="button" value="Назад" onclick="back()"> --}}
    </div>
    <div>
        <span class="info" id="info"></span>&nbsp;
        <span class="error" id="error"></span>
    </div>
</fieldset>
</form>
</div>
        <button class="button" onclick="read_message()">Кнопка</button>
<input class="button" type="button" value="Разбить на слова!" onclick="split_message()">

<div>
  <textarea id="words" rows="20"> </textarea>

  Запрос
  <textarea id="request" width="50" rows="20">qwerty</textarea>
  <button class="button" onclick="request()">Запрос</button>
</div>


{{!-- Пустая форма для имитации ссылки как кнопки --}}
{{!-- <form id="hrefForm" method="GET"></form> --}}

{{!-- Можно и так имитировать --}}
{{!-- <button onclick="window.location.href='/user/register';">На вертолёт!</button> --}}

<script>

//alert('messages2');

function create_message() {
  botmessages.message_id2.value = 0;
  botmessages.message_id.value = 0;
  botmessages.message.value = '>';
}

// Прочитать сообщение
function read_message() {
    myFetch2('/bot/read_message', {message_id: botmessages.message_id2.value.trim()})
    .then((x) => {
      botmessages.message_id.value = botmessages.message_id2.value.trim();
      botmessages.message.value = x;
    })
//    .catch((x) => {});
    .catch(show_error); 

    return false; // Предотвращает отправку формы на сервер
}

// Разбить сообщение на слова
function split_message() {
    myFetch2('/bot/split_message', {message: botmessages.message.value})
    .then((x) => {
      document.getElementById("words").innerHTML = x;
//      botmessages.message.value = x;
    })
//    .catch((x) => {});
    .catch(show_error); 

    return false; // Предотвращает отправку формы на сервер
}


// Записать сообщение
async function write_message() {
    myFetch2('/bot/write_message', {
        message_id: botmessages.message_id.value.trim(),
        message: botmessages.message.value.trim()
      })
    .then((x) => {
        if (x > 0) {
            show_error('');
            show_info(x);
            botmessages.message_id.value = x;
            botmessages.message_id2.value = x;
            //window.location.href = '/';
        } else {
            show_info('');
            show_error('/bot/write_message error: ' + x);
        }
    })
//    .catch((x) => {});
    .catch(show_error); 

    return false; // Предотвращает отправку формы на сервер
}

// Запрос
function request() {
  
    myFetch2('/bot/request', {request: document.getElementById("request").value})
    .then((x) => {
      document.getElementById("words").innerHTML = x;
//      botmessages.message.value = x;
    })
//    .catch((x) => {});
    .catch(show_error); 

    return false; // Предотвращает отправку формы на сервер
}

</script>
