<h2 class="header">{{title}}</h2>

{{!-- <p class="marine">Welcome to {{title}}</p> --}}

<div class="message">  {{{ message }}}  </div>

<input  id="b1">

<button onclick="log('logg')">logg</button>
<button onclick="append_row()">append_row</button>
<button onclick="insert_row()">insert_row</button>
<button onclick="delete_row()">delete_row</button>



  <div>
    <textarea id="log">
    </textarea>
  </div>


<script> 

edit_table('table1');


{{!-- *********************** Дальше неважно что ******************************** --}}



</script>
