{{!-- <div class="mywrapper"> --}}
<h2>Здесь будет модальное окно</h2>
<button class="button" onclick="show_modal()">Показать модальное окно</button>

<br>


<div class="mymodal closed" id="mymodal-window2">
 <p id="mytext">Модальное окно</p>
<button class="button" onclick="add_text()">Добавить текст</button>
<button class="close_modal button" onclick="show_modal()"><b>X</b></button>
<br>
<br>
      <p id="text2">
          то, что прокручивается<br>
      </p>

</div>

<div class="mymodal-overlay closed" id="mymodal-overlay2" onclick="show_modal()">
</div>


<script>

// Аккуратно надо с наименованиями переменных, всё же они тут глобальные, час почти ошибку искал
let modal2 = document.getElementById("mymodal-window2");
let modalOverlay2 = document.getElementById("mymodal-overlay2");

  function show_modal() {
    //alert("hi");
//    document.getElementById("mymodal-window").classList.toggle("closed");
//    document.getElementById("mymodal-overlay").classList.toggle("closed");
    modal2.classList.toggle("closed");
    modalOverlay2.classList.toggle("closed");
  }


  function add_text() {
    //alert("hi");
    //modal.classList.toggle("red");
    document.getElementById("text2").innerHTML += "то, что прокручивается<br>";
  }


</script>